{% extends "layout.html" %}
{% block title %}Cases{% endblock %}
{% block body %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span6">
            <div class="widget">
            <div class="widget-header"> <i class="icon-signal"></i>
              <h3> Case Configuration </h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <form class="form-horizontal" method="get" action="{{ url_for('cases_edit') }}">
                    <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="case">Case:</label>
                        <div class="controls">
                            <select class="span3" name="casename">{% if cases %}{% for case in cases %}<option value="{{ case }}">{{ case }}</option>{% endfor %}{% endif %}</select>
                        </div>
                    </div>
                        <br/>
                    <div class="form-actions">
                        <input class="btn btn-primary" type="submit" value="Edit Case"/>
                    </div>
                    </fieldset>
                </form>
            </div>
            <!-- /widget-content -->
          </div>
          <!-- /widget -->
        </div>

        <!-- commented out to get rid of Upload Case -->

          <!-- <div class="span6"> -->

          <!-- <div class="widget">
            <div class="widget-header"> <i class="icon-signal"></i>
              <h3> Upload Case </h3>
            </div> -->
            <!-- /widget-header -->
            <!-- <div class="widget-content">
                <form class="form-horizontal" method="post" action="{{ url_for('cases_upload') }}">
                    <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="case">Case File:</label>
                        <div class="controls">
                            <input type="file" class="btn btn-invert" id="file" name="file" />
                        </div>
                    </div>
                        <br/>
                    <div class="form-actions">
                        <input class="btn btn-primary" type="submit" value="Upload Case"/>
                    </div>
                    </fieldset>
                </form>
            </div> -->
            <!-- /widget-content -->
          <!-- </div>
 -->          <!-- /widget -->
        <!-- </div> -->

          <!-- /widget -->
        <!-- </div> -->
        <!--   </div> -->

        <!-- <div class="row"> -->

            <div class="span6">
                      <div class="widget">
            <div class="widget-header"> <i class="icon-signal"></i>
              <h3> New Case </h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <form class="form-horizontal" method="post" action="{{ url_for('cases_create') }}">
                    <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="case">Case:</label>
                        <div class="controls">
                            <input class="span3" name="casename">
                        </div>
                    </div>
                        <br/>
                    <div class="form-actions">
                        <input class="btn btn-primary" type="submit" value="New Case"/>
                    </div>
                    </fieldset>
                </form>
            </div>
            <!-- /widget-content -->
          </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<!-- /main -->
{% endblock %}