{% extends "layout.html" %}
{% block title %}Cases{% endblock %}
{% block body %}
<script>
function toggleenable(element) {
    if ($(element+'Btn').text() == 'Enabled') {
        $(element).val('Disabled');
        $(element+'Btn').text('Disabled');
        $(element+'Btn').removeClass('btn-success');
        $(element+'Btn').addClass('btn-invert');
    } else {
        $(element).val('Enabled');
        $(element+'Btn').text('Enabled');
        $(element+'Btn').removeClass('btn-invert');
        $(element+'Btn').addClass('btn-success');
    }
}
</script>
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
            <form id="formdelete" method="get" action="/cases/delete/{{ casename }}"></form>
            <form id="formdownload" method="get" action="/cases/download/{{ casename }}"></form>
          <div class="widget"><form id="formedit" method="post" enctype="multipart/form-data"><input type="hidden" name="edit" value="True" />
            <div class="widget-header"> <i class="icon-signal"></i>
              <h3> Case Configuration - {{ casename[0:-5] }} </h3>
            </div>
            <!-- /widget-header -->
            <div class="control-group"><br/>
                <div style="float: right;">
                <button type="button" class="btn btn-info" onclick="javascript:$('#formedit').submit()">Save

                <!-- ################## commented out to get rid of download button  -->

                <!-- </button>&nbsp;&nbsp;<button type="button" class="btn btn-success" onclick="javascript:$('#formdownload').submit()">Download -->

                </button>&nbsp;&nbsp;<button type="button" class="btn btn-danger" onclick="javascript:$('#formdelete').submit()">Delete</button>
                    </div>
                <br/><br/>

                    <input type="hidden" name="casename" value="{{ casename }}" />

												<div class="controls">
													 <div class="accordion" id="accordion1" style="overflow: hidden;">
                    {% for parameter in parameters %}<div style="float: left;">
                                                         {% if parameter != 'configuration' %}
                                                         {% if parameters[parameter]['ENABLED'] == True %}
                                                          <button type="submit" class="btn btn-success" name="{{ parameter + '|enableBtn' }}" id="{{ parameter + 'enableBtn' }}" value="Enabled" onclick="javascript:toggleenable('#{{parameter}}enable'); return false;">Enabled</button><input type="hidden" name="{{ parameter + '|enable' }}" id="{{ parameter + 'enable' }}" value="Enabled" />
                                                          {% else %}
                                                          <button type="submit" class="btn btn-invert" name="{{ parameter + '|enableBtn' }}" id="{{ parameter + 'enableBtn' }}" value="Disabled" onclick="javascript:toggleenable('#{{parameter}}enable'); return false;">Disabled</button><input type="hidden" name="{{ parameter + '|enable' }}" id="{{ parameter + 'enable' }}" value="Disabled" />
                                                          {% endif %}
                                                         {% else %}
                                                         <button type="submit" class="btn btn-success" name="{{ parameter + '|enableBtn' }}" id="{{ parameter + 'enableBtn' }}" value="Enabled" onclick="javascript:toggleenable('#{{parameter}}enable'); return false;" disabled>Enabled</button><input type="hidden" name="{{ parameter + '|enable' }}" id="{{ parameter + 'enable' }}" value="Enabled" />
                                                         {% endif %}
                                                         </div>
                                                      <div class="accordion-group" style="margin-left: 100px;">
                                                        <div class="accordion-heading">
<!--<input type="checkbox" />-->
                                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ parameter }}">
                                                           <!-- {{ parameter }} | -->{{ parameters[parameter]['INFO']['Title'] }}
                                                          </a>
                                                        </div>
                                                        <div id="collapse{{ parameter }}" class="accordion-body collapse in">
                                                            {% if parameters[parameter]['INFO']['Usage'] %}<pre>{{ parameters[parameter]['INFO']['Usage'] }}</pre>{% endif %}
                                                          <div class="accordion-inner">
                                                              {% if parameter == 'configuration' %}
                                                              <div class="control-group">
											<!--<label class="control-label">Payloads</label>
                                            <div class="controls">
                                            <label class="checkbox inline">
                                              <input type="checkbox" id="configurationencryptphrase" name="configurationencryptphrase"> Encrypt (AES)
                                            </label>
                                                <label class="control-label" for="configurationencryptphrase">Encryption Passphrase</label>
											                    <div class="controls">
												                    <input type="text" class="span6" name="configurationencryptphrase" id="configurationencryptphrase" value="{{ parameters[parameter]['PROPERTIES']['encryptphrase']['Value'] if parameters[parameter]['PROPERTIES']['encryptphrase']['Value'] is not none else '' }}" /> {{ parameters[parameter]['PROPERTIES']['encryptphrase']['Sample'] }}
											                    </div> --><!-- /controls -->
                                            <!--<br/>
                                            <label class="checkbox inline">
                                              <input type="checkbox" id="configurationcompress" name="configuration|compress"> Compress (GZip)
                                            </label>
                                          </div>-->		<!-- /controls -->
										</div> <!-- /control-group -->
                                                                <!--<label class="control-label">Payload Files</label>-->

                                                              <!--<input type="file" class="btn btn-invert" id="file" name="file" multiple />-->

                                                              {% endif %}
                                                              {% for property in parameters[parameter]['PROPERTIES'] %}
                                                              {% if parameters[parameter]['PROPERTIES'][property]['Type'] == 'string' %}
                                                              {% if parameters[parameter]['PROPERTIES'][property]['Value'] %}
                                                              <div class="control-group">
											                    <label class="control-label" for="{{ parameter + '|' + property }}">{{ parameters[parameter]['PROPERTIES'][property]['Label'] }}</label>
											                    <div class="controls">
												                    <input type="text" class="span6" name="{{ parameter + '|' + property }}" id="{{ parameter + '|' + property }}" value="{{ parameters[parameter]['PROPERTIES'][property]['Value'] if parameters[parameter]['PROPERTIES'][property]['Value'] is not none else '' }}" /> &nbsp;{{ parameters[parameter]['PROPERTIES'][property]['Sample'] }}
											                    </div> <!-- /controls -->
										                    </div> <!-- /control-group -->
                                                              {% else %}
                                                              <div class="control-group">
											                    <label class="control-label" for="{{ parameter + '|' + property }}">{{ parameters[parameter]['PROPERTIES'][property]['Label'] }}</label>
											                    <div class="controls">
												                    <input type="text" class="span6" name="{{ parameter + '|' + property }}" id="{{ parameter + '|' + property }}" value="{{ parameters[parameter]['PROPERTIES'][property]['Default'] if parameters[parameter]['PROPERTIES'][property]['Default'] is not none else '' }}" /> &nbsp;{{ parameters[parameter]['PROPERTIES'][property]['Sample'] }}
											                    </div> <!-- /controls -->
										                    </div> <!-- /control-group -->
                                                              {% endif %}
                                                              {% endif %}
                                                              {% if parameters[parameter]['PROPERTIES'][property]['Type'] == 'files' %}

                                                              {% for payloadname in parameters[parameter]['payloads'] %}
                                                              <span style="text-align: center;"><i class="icon-file" style="font-size:48px;"></i><br/><label class="control-label">{{ payloadname }}</label><input type="hidden" name="file|{{ payloadname }}" /><button type="button" class="btn btn-mini">Remove</button></span>
                                                              {% endfor %}

                                                              <div class="control-group">
											<label class="control-label">{{ parameters[parameter]['PROPERTIES'][property]['Label'] }}</label>

                                            <div class="controls">
                                            <input type="file" class="btn btn-invert" id="{{ parameter + '|' + property }}" name="{{ parameter + '|' + property }}" multiple />
                                            </div>	<!-- /controls -->
										</div> <!-- /control-group -->
                                                              {% endif %}
                                                              {% if parameters[parameter]['PROPERTIES'][property]['Type'] == 'boolean' %}
                                                              <div class="control-group">
											<label class="control-label">{{ parameters[parameter]['PROPERTIES'][property]['Label'] }}</label>

                                            <div class="controls">
                                            <label class="radio inline">
                                              <input type="radio" id="{{ parameter + '|' + property }}True" name="{{ parameter + '|' + property }}" value="True"{% if parameters[parameter]['PROPERTIES'][property]['Value'] == 'True' %} checked="checked"{% endif %} /> True
                                            </label>

                                            <label class="radio inline">
                                              <input type="radio" id="{{ parameter + '|' + property }}False" name="{{ parameter + '|' + property }}" value="False"{% if parameters[parameter]['PROPERTIES'][property]['Value'] != 'True' %} checked="checked"{% endif %} /> False
                                            </label>
                                          </div>	<!-- /controls -->
										</div> <!-- /control-group -->
                                                                {% endif %}
                                                              {% if parameters[parameter]['PROPERTIES'][property]['Type'] == 'list' %}
                                                              <div class="control-group">
											                    <label class="control-label" for="{{ parameter + '|' + property }}">{{ parameters[parameter]['PROPERTIES'][property]['Label'] }}</label>
											                    <div class="controls">
                                                                    <select name="{{ parameter + '|' + property }}">
                                                                        {% for item in parameters[parameter]['PROPERTIES'][property]['List'] %}
                                                                        <option value="{{ item[0] }}">{{ item[1] }}</option>
                                                                        {% endfor %}
                                                                    </select>
												                    {{ parameters[parameter]['PROPERTIES'][property]['Sample'] }}
											                    </div> <!-- /controls -->
										                    </div> <!-- /control-group -->
                                                              {% endif %}

                                                              {% endfor %}
                                                          </div>
                                                        </div>


                                                      </div>
                                                         <br/>
                     {% else %}
                                                         No Plugins Installed
                     {% endfor %}

                                                    </div>
												</div> <!-- /controls -->

											</div> <!-- /control-group -->

            <!-- /widget-content -->
          </form></div>
          <!-- /widget -->
        </div>
        <!-- /span12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<!-- /main -->
{% endblock %}